.produtos {
  width: 100%;
}

.produtos .wrapper {
  width: 90%;
  margin: auto;
  position: relative;
}

.products-title {
  font-size: 2rem;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: 400;
  color: #000;
}

.products-title::before {
  content: "";
  background-color: #0000ff;
  width: 200px;
  height: 5px;

  position: absolute;
  left: 100px;
  top: 0%;
  transform: translateX(-50%);
}

#container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.card {
  position: relative;
  width: 320px;
  height: 420px;
  background: #122936;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 10px;
}

.card:before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #0000ff;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  transform: skewY(390deg);
  top: -70%;
}

.card::after {
  content: "FONE";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 7.5em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .imgBx img {
  max-width: 80%;
  transition: 0.5s;
}

.card:hover .imgBx img {
  max-width: 70%;
}

.card .contentBx {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.card .contentBx h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBx .price {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.card .contentBx .buy {
  position: relative;
  top: 200px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  background: #2196f3;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBx .buy {
  top: 0px;
  opacity: 1;
}

.title-details {
  font-size: 1.75em;
  margin: 40px auto 0px auto;
  position: relative;
}

.title-details::before {
  content: "";
  background-color: #0000ff;
  width: 200px;
  height: 5px;

  position: absolute;
  left: 100px;
  top: -50%;
  transform: translateX(-50%);
}

.title-about {
  font-size: 1.75em;
  margin-bottom: 0.5em;
  position: relative;
}

.title-about::before {
  content: "";
  background-color: #0000ff;
  width: 150px;
  height: 5px;

  position: absolute;
  left: 75px;
  top: -40%;
  transform: translateX(-50%);
}

.next-products {
  display: block;
  text-align: center;
  margin: 0px auto 10px auto;
}

.next-products button {
  border: none;
  background-color: #0000ff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  margin: 2px;
}

.next-products button:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}
