#about-us {
  max-width: 100vw;
  height: 100vh;
  color: #fff;
  padding-bottom: 100px;
  background-color: #e2e2e2;
  position: relative;
}

.wrapper {
  max-width: 80em;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}

.about-title {
  font-size: 2rem;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
  color: #000;
}

.about-title::before {
  content: "";
  background-color: #0000ff;
  width: 200px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}

.section {
  margin-top: 10%;
  padding: 30px 10px;
  transform: translateY(5%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container-image {
  width: 250px;
}

#photo {
  width: 200px;
  height: 220px;
}

.about-typing {
  color: #000;
  font-size: 40px;
  width: 0;
  padding-left: -25px;
  border-right: 1px solid #fff;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor2 500ms infinite normal,
    typing2 2s 1s alternate-reverse infinite;
}

@keyframes typing2 {
  from {
    width: 10px;
  }

  to {
    width: 190px;
  }
}

@keyframes blinkCursor2 {
  from {
    border-right: 1px solid #000000;
  }

  to {
    border-right: transparent;
  }
}

.paragraphy {
  width: 800px;
  text-indent: 20px;
  color: #000;
  font-weight: bold;
  text-align: justify;
  margin-left: 20px;
}

/* Responsive Sobre Mim; */
@media screen and (max-width: 768px) {
  #sobre-mim {
    height: 100%;
  }

  .section {
    display: block;
  }

  .photo {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
  }

  @keyframes typing2 {
    from {
      width: 10px;
    }

    to {
      width: 270px;
    }
  }

  .paragraphy {
    display: block;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .section {
    flex-direction: column;
  }

  .photo {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .about-typing {
    font-size: 20px;
  }

  @keyframes typing2 {
    from {
      width: 0px;
    }

    to {
      width: 250px;
    }
  }

  .display-sobremim {
    font-size: 25px;
  }

  .display-sobremim::after {
    font-size: 20px;
  }
}
