.vakinha {
  width: 100%;
  height: 100vh;
  display: block;
  padding: 5%;
  text-align: center;
}

.post-vakinha {
  width: 40%;
  height: 40%;
  margin: 0 auto 0 45%;
  transform: translateX(-45%);
  display: block;
}

.container-text {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-weight: 500;
}

.tilte-about-us {
  margin: 10px auto;
}

.paragraphy-about {
  font-size: 18px;
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 768px) {
  .vakinha {
    display: block;
    height: 100%;
  }

  .post-vakinha {
    display: block;
    margin: 30px auto;
    width: 100%;
    height: 100%;
  }

  .vakinha div {
    text-align: center;
    font-weight: 500;
  }

  .vakinha > div > h2 {
    margin-bottom: 50px;
  }
}
