#container-QuestionsFrequently {
  width: 100em;
  height: 50vh;
  margin: auto;
  position: relative;
}

.banner-promotion {
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 30px;
  width: 80%;
  margin: auto;
  border-radius: 50px;
  transform: translateY(-50%);
}
