@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,100;1,500;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin-top: -40px;
}

/* Cabeçalho */

#promotion {
  width: 100%;
  height: 40px;
  margin: auto;
  margin-top: 40px;

  text-align: center;
  color: #fff;
  background: linear-gradient(360deg, blue, #5f63b1);
}

#promotion p {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding-top: 10px;
}

#cabeçalho {
  background-color: #e7e2de;
  display: flex;
  align-items: center;
}

#info-navigation {
  width: 100%;
  margin: 5px auto;
  padding: 0 20px;
}

.products-for-client {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0;
}

#btn-cart-shopping,
#btn-location {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;

  cursor: pointer;
  font-size: 25px;
}

#btn-cart-shopping button,
#btn-location button {
  background: none;
  border: none;
  font-size: 25px;
}

#btn-cart-shopping > span {
  font-weight: normal;
  font-size: 27px;
}

#btn-location > span {
  border-right: 1px solid #0000ff;
  padding-right: 15px;
  font-weight: normal;
  font-size: 27px;
}

#logo {
  margin-left: 50px;
  width: 200px;
  height: 200px;
  z-index: 10;
}

#header-navigation {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 25px;
}

#navbar {
  margin-left: -50px;
}

#list-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-left: 30px;
}

#list-navbar li {
  list-style: none;
  padding: 10px;
  position: relative;
  display: block;
  padding: 10px;
  white-space: nowrap;
}

#list-navbar li a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

#list-navbar li a:hover {
  color: #0000ff;
  transition: all 0.5s ease;
}

#list-navbar li::after {
  content: " ";
  width: 0%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0px;
  bottom: -5px;
  background-color: #0000ff;
  transition: 0.5s ease-in-out;
}

#list-navbar li:hover::after {
  width: 100%;
}

#navbar.none {
  transform: translateX(-300%);
  display: none;
}

.active {
  overflow: hidden;
}

#btn-menu {
  display: none;
}

#btn-menu-desk {
  margin: 0 15px 0 60px;
  background: none;
  border: none;
  z-index: 15;
  cursor: pointer;
  color: #000;
  font-size: 30px;
  pointer-events: none;
  transform: translateY(-15%);
}

.container-for-search {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  margin: 15px auto 0 auto;
  padding-right: 100px;
}

.media-flex-input {
  display: none;
}

.flex-input {
  display: flex;
  align-items: end;
  justify-content: center;
}

.flex-input > input {
  all: unset;

  width: 35vw;
  background: #fff;
  border: none;
  margin-left: 60px;
  margin-top: 15px;
  padding: 12px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.flex-input > button {
  background: #fff;
  color: #000;
  border: none;
  outline: none;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  width: 45px;
  height: 48px;
}

.flex-input > button:hover {
  background: #7a7a7a;
  cursor: pointer;
  transition: all 0.5s ease;
}

.container-for-search > button {
  padding-left: 20px;
}

.hr-gradient {
  width: 100%;
  height: 6px;
  background: linear-gradient(130deg, blue, #5f63b1);
}

/* Responsividade Cabeçalho */

@media (max-width: 1150px) {
  #logo {
    width: 50%;
    height: 50%;
  }

  .container-for-search,
  #header-navigation {
    margin-left: -10%;
  }

  .products-for-client {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
  }

  #btn-cart-shopping,
  #btn-location {
    cursor: pointer;
    color: #000;
    font-size: 0px;
    padding: 0;
  }

  #btn-cart-shopping > span,
  #btn-location > span {
    display: none;
  }

  #btn-location {
    border-right: 1px solid #0000ff;
    padding-right: 50px;
  }
}

@media screen and (max-width: 920px) {
  #btn-menu-desk {
    display: none;
  }

  #navbar {
    display: none;
  }

  #navbar.active {
    display: block;
    transform: translateX(10%);
    animation: menuInside 0.5s ease;
    background-color: #000000;
    padding: 10px;
    width: 30vw;
    height: 120vh;
    position: absolute;
    z-index: 5;
    top: -40px;
    right: 0;
  }

  @keyframes menuInside {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(10%);
    }
  }

  #list-navbar {
    display: block;
    text-align: left;
    margin: 60% 10%;
  }

  #list-navbar li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
  }

  #list-navbar li a:hover {
    color: blue;
  }

  #logo {
    margin: 0;
  }

  #btn-menu {
    height: auto;
    display: block;
    background: none;
    border: none;
    padding-right: 10px;
    margin-left: 40px;

    z-index: 15;
    cursor: pointer;
    color: #000;
    font-size: 30px;
    transition: all 0.3s ease;
    pointer-events: all;
  }

  .flex-input {
    display: none;
  }

  .media-flex-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #e7e2de;

    margin: 5px auto;
  }

  .media-flex-input > input {
    all: unset;

    width: 50%;
    background: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 10px;
  }

  .media-flex-input > button {
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    width: 45px;
    height: 48px;
  }

  .media-flex-input > button:hover {
    background: #7a7a7a;
    transition: all 0.5s ease;
  }

  .products-for-client {
    margin-right: -30%;
    transform: translateX(30%);
  }
}

@media (max-width: 600px) {
  .products-for-client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: -100%;
    transform: translateX(100%);
  }
}

@media (max-width: 500px) {
  .products-for-client {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: -100%;
    transform: translateX(100%);
  }
}
